* { margin:0;padding:0;box-sizing:border-box; }

body {
	background: url("../images/suspended_books.jpg") no-repeat fixed;
	background-size: cover;
	color: #CDCDCD;
	font-family: 'Source Sans Pro', sans-serif;
}
h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 2.5em;
	font-weight: 900;
	color: rgb(28,22, 87);
}
h2{
	font-family: 'Roboto', sans-serif;
	font-size: 1.75em;
	color: rgb(28, 22, 87);
}
p {
	line-height: 120%
}
a {
	text-decoration: none;
	color: rgb(0, 0, 0);
}
a:hover {
	color: rgb(181,2,67);
}

/* HEADER */
header {
	text-align: center;
	padding: 0 0 83px 0;
	background: rgb(246,244,233);
}
header h1 {
	font-size: 5.5em;
	font-weight: 500;
}
header p {
	font-size: 4.25em;
}
.businesscard {
	width: 800px;
	margin: 0 auto;
	padding: 100px 0;
}
#slogan {
	font-style: italic;
	color: rgb(181,2,67);
}
/* Figured out this nav with the help of this awesome, beginner-friendly, thorough explanation: http://matthewjamestaylor.com/blog/beautiful-css-centered-menus-no-hacks-full-cross-browser-support */
nav {
	float: left;
	width: 100%;
	margin: 30px 0;
	overflow: hidden;
	position: relative;
}
nav ul {
	clear: left;
	float: left;
	margin: 0;
	padding: 0;
	position: relative;
	left: 50%;
	list-style-type: none;
}
nav li {
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	position: relative;
	right: 50%;
}
nav a {
	display: block;
	margin: 5px;
	padding: 0 20px;
	text-transform: uppercase;
}

.about {
	background: rgba(0, 0, 0, .8);
}
.content {
	width: 800px;
	margin: 0 auto;
	padding: 4em 0;
}

/* FOOTER */
footer {
	padding: .25em 1em;
	background: #E5C6D7;
}

.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}